body {
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    background: #000;
}

.container {
    justify-self: center;
    align-self: center;
    color: #fff;
    font-family: fira code, sans-serif;
    font-size: 5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
}

.container::before, .container::after {
    content: attr(data-content);  /* div class="container" data-content="codemagic"> */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container::before {
    color: #2980b9;
    animation: tik-tok 0.5s linear infinite;
    animation-delay: 0.2s; /* 动画延迟需要放在动画的后面 */
}

.container::after {
    color: #e74c3c;
    animation: tik-tok 0.5s linear infinite;
}


@keyframes tik-tok {
    0% {
        left: -6px;
        top: -6px;
    }
    25% {
        left: -3px;
        top: -3px;
    }
    0% {
        left: 3px;
        top: 0px;
    }
    0% {
        left: -3px;
        top: 6px;
    }
}